@import "core/manifest";

//  ------------ Link styles ------------------
// .link is used to force buttons or submit inputs to look like links
a, .link {
  cursor: pointer;
  color: $app-color-link;
  text-decoration: none;
  outline: 0;

  &:hover {
    text-decoration: underline;
  }
}

// Overwrite some other styles when styling button or submit input as a link
input.link, button.link {
  @include appearance-none; // Clear browser-specific styles
  display: inline;
  border: 0;
  padding: 0;
  background-color: unset;
}

// ----- Default submit button / primary button -----
.btn-primary {
  @include button-base;
  border: 1px solid $app-color-button;
  background-color: $app-color-button;
  color: $text-light;

  &:hover {
    border-color: $app-color-button-hover;
    background-color: $app-color-button-hover;
  }
}

.btn-secondary {
  @include button-base;
  background-color: transparent;
  border: 1px solid $app-color-button;
  color: $app-color-button;

  &:hover {
    background-color: $app-color-button;
    color: $text-light;
  }
}

.btn-tertiary {
  @include button-base;
  font-weight: 400;
  background-color: white;
  border: 1px solid $grey-7;
  color: $text-primary;

  &:hover { background-color: $grey-7; }
}
