// Place all css related to ONLY HTML elments
// To overwirte broswer default style (a.k.a user agent stylesheet)

@import "core/manifest";

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: $app-line-height;
  color: $text-primary;
  height: 100%;
  //makes the font smoother - may not work on all browser
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}
