@import "core/manifest";


//  ------------ Input styles ------------------
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=search],
input[type=url],
input[type=date],
textarea {
  @include basic-card($padding: 8px);
  line-height: 1;

  &:hover { border-color: $grey-11; }
  // HACK to Remove yellow autofill background
  &:-webkit-autofill { -webkit-box-shadow: inset 0 0 0px 9999px white; }
}

textarea {
  resize: vertical;
}

// Placeholder styles
::-webkit-input-placeholder { color: $text-placeholder; }
:-moz-placeholder           { color: $text-placeholder; } // Firefox 18-
::-moz-placeholder          { color: $text-placeholder; } // Firefox 19+
:-ms-input-placeholder      { color: $text-placeholder; } // Internet Explorer
::-ms-input-placeholder     { color: $text-placeholder; } // Edge
::placeholder               { color: $text-placeholder; }


//  ------------ Native dropdown menus ------------------
select {
  @include appearance-none; // Remove default browser styles
  @include basic-card($padding: 4px 24px 4px 4px);
  // Use an image for the the dropdown arrow
  background: image-url('angle_down.svg') (right 8px center) / (10px 6px) no-repeat white;

  &:hover { border-color: $grey-11; }
}


// "Glow" around items when they are :focus ed
input:focus, textarea:focus, select:focus, button:focus,  {
  outline: none;
  box-shadow: 0 0 4px 0 lighten($app-color-primary, 15%);
}
