
@import "core/manifest";

#notifly {
  @include horizontal-center($position: fixed);
  top: calc(#{$navbar-height} - 17px);
  z-index: 1000;

  .notice  { background-color: $blue; }
  .alert   { background-color: $red; }
  .success { background-color: $green; }
  .warning { background-color: $orange-light; }

  .wrapper {
    position: relative;
    color: $text-light;
    text-align: center;
    font-weight: 500;
    font-size: $font-small;
    padding: 4px 16px;
    margin-top: 4px;
    min-width: 128px;
    border-radius: 16px;

    &.animate-in  { animation: slide-fade-scale-from-top .3s forwards; }
    &.animate-out { animation: slide-fade-to-right .3s forwards; }

    .closer {
      @include vertical-center;
      right: 12px;
      font-size: $font-medium;
      cursor: pointer;
    }
  }
}
