
<div class="hero">
  <%= image_tag :selfie, class: "circle" %>
  <div class="text">
    <div class="text-red">Jordan Johnson</div>
    <div class="secondary title">Software Developer</div>
  </div>
</div>

<div class="about">
  <h2>Who is this guy?</h2>
  <p>I got my first software development job in 2011 after graduating from Western Washington University. There I developed an advertisment / lead management platform targeting the automotive industry which gave me experience working with with web technologies, distributed systems, and machine learning.

    In 2014, with tears in my eyes I waved goodbye to my peers and set sail for my next adventure.  At my new position I studied the ancient art of Ruby on Rails and discovered my love for the language and framework.

    I strive to make a difference in the world through the software I create.
  </p>
</div>