
<div class="page-container-single-form">
  <h2>Editing <%= singular_table_name.titleize %></h2>

  <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  <%%= link_to 'Show', @<%= singular_table_name %> %>
</div>
