
<div class="page-container-single-form">
  <h2><%= singular_table_name.titleize %></h2>
  <%%= render partial: '<%= table_name %>/form', locals: {<%= singular_table_name %>: @<%= singular_table_name %>} %>
</div>
