// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "core/manifest";

#home_show {
  .geometry {
    height: 1000px;
    width: 100%;

    canvas {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

