<header>
  <nav>
    <ul class="nav right">
      <li><%= fa_icon "cog" %></li>
      <%= link_to sign_out_path do %>
        <li><%= fa_icon "sign-out" %></li>
      <% end %>
    </ul>
  </nav>
</header>
